.sidebar{
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}
li{
    margin-top: 2.5vh;
    border: 0.6rem solid transparent;
    list-style: none;
    border-bottom: 0.1rem solid rgb(200, 200, 200);
    padding: 0.5rem;
}
.card{
    display: inline-flex;
    align-content: center;
    margin-top: 2.5vh;
    justify-content: space-evenly;

}
h5{
    
    margin-top: 1.5vh;
}
.cardd{
    text-align: center;
    justify-content: space-evenly;
}
.dash{
    text-align: center;
}
.reminders{
    margin-top: 4vh;
}
.card-rem{
    display: block;
}
.lists{
    border: none;
    border-radius: 0px;
    padding: 0vh;
    margin-top: 4vh;
}
.litem{
    padding: 2vh;
    border: 5px solid transparent;
    font-size: 2.1vh;
}
.stats{
    display: flex;
}
.statss{
    margin-left: 2.5vw;
    text-align: center;
}
nav{
    height: 60px;
}
.footer{
    text-align: center;
    margin-top: 1vh;
}